#calendar {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#calendar-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #7AA2C5;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

#month-year {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.calendar-day {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
}

.calendar-day-header {
  background-color: #7AA2C5;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

#prev-month-btn, #next-month-btn {
  background-color: #7AA2C5;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

#prev-month-btn:hover, #next-month-btn:hover {
  background-color: #fff;
  color: #3f51b5;
}